<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.epgrefresh</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>-c</string>
        <string>cd "/Users/ah/CascadeProjects/windsurf-project/final_multi_system/config_txt" && "./auto_refresh.sh" start</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <dict>
        <key>SuccessfulExit</key>
        <false/>
    </dict>
    <key>StandardOutPath</key>
    <string>/Users/ah/CascadeProjects/windsurf-project/final_multi_system/config_txt/launchd.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/ah/CascadeProjects/windsurf-project/final_multi_system/config_txt/launchd_error.log</string>
    <key>WorkingDirectory</key>
    <string>/Users/ah/CascadeProjects/windsurf-project/final_multi_system/config_txt</string>
    <key>UserName</key>
    <string>ah</string>
</dict>
</plist>
